<div class="background">
  <div class="overlay"></div>
  <div class="title">
    <h1>jared.nance.io</h1>
  </div>
  <div class="tagline">
    Full Stack Development.
    <div class="extra">
      Analytics from the ground up.
    </div>
  </div>
</div>
<div class="body">
  {{#scrolling-div class="scroll" }}
    {{outlet}}
  {{/scrolling-div}}
</div>
