<div class="ui grey header">
  <h1>THE ROAD SO FAR...</h1>
</div>
<div class="ui fourteen column centered grid">
  <div class="ui cards">
    {{#scroll-into-view buffer=0 class="ui card dashboard" persistVisibility=attrs.showMenu }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">Shop Floor Analytics</div>
            <div class="meta">
              <a>MAGNA</a>
            </div>
            <div class="description">
              Historical data and post-processed statistics
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2014
            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
    {{#scroll-into-view buffer=-100 class="ui card plant-monitor" }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">Plant Monitor v2.0</div>
            <div class="meta">
              <a>MAGNA</a>
            </div>
            <div class="description">
              Real-time, interactive plant data
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-2016
            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
    {{#scroll-into-view buffer=100 class="ui card andon" }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">Andon Displays</div>
            <div class="meta">
              <a>MAGNA</a>
            </div>
            <div class="description">
              Real-time manufacturing line displays
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015
            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
    {{#scroll-into-view buffer=0 class="ui card web" }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">Guest Registration</div>
            <div class="meta">
              <a>MAGNA</a>
            </div>
            <div class="description">
              Register and track all guests entering the facility
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015
            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
    {{#scroll-into-view buffer=250 class="ui card rfid" }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">RFID Inventory Control</div>
            <div class="meta">
              <a>MAGNA</a>
            </div>
            <div class="description">
              Automated inventory control through radio frequency identification
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-2016
            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
    {{#scroll-into-view buffer=0 class="ui card commerce" }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">CBD eCommerce</div>
            <div class="meta">
              <a>Pure Spectrum</a>
            </div>
            <div class="description">
              Adventures in RoR and EmberJS
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-2016
            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
    {{#scroll-into-view buffer=-50 class="ui card pattern" }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">Patterns in Patents</div>
            <div class="meta">
              <a>Freelance</a>
            </div>
            <div class="description">
              Console app that analyzes the patent appeals process to identify patterns
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">

            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
    {{#scroll-into-view buffer=0 class="ui card travel" }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">Travel Map</div>
            <div class="meta">
              <a>Red Planet</a>
            </div>
            <div class="description">
              Interactive map for travel planning
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015
            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
    {{#scroll-into-view buffer=150 class="ui card web" }}
      <div class="image">
        <div class="overlay">
          <div class="content">
            <div class="header">Integrated Systems Studio</div>
            <div class="meta">
              <a>MAGNA</a>
            </div>
            <div class="description">
              Integration of ERP, MES, and other engineering tools
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">

            </span>
          </div>
        </div>
      </div>
    {{/scroll-into-view}}
  </div>
</div>

<div class="ui grey header">
  <h1>LANGUAGES & FRAMEWORKS</h1>
</div>
<div class="ui fourteen column centered grid forced">
  <div class="ui fluid basic segment">
    <div class="ui basic segment">
      <div class="ui segment">
        <div class="ui header">
          Server-Side
        </div>
      </div>
      <div class="ui list">
        <div class="item">
          <img class="ui avatar image" src="https://cdn.evbuc.com/eventlogos/87995911/tfs.png">
          <div class="content">
            <a class="header" href="https://msdn.microsoft.com/en-us/library/kx37x362.aspx">C# (WebAPIs, MVC, Console, Services, WPF)</a>
            <div class="description">
              4 years
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="http://blog.ittestsonline.com/wp-content/uploads/2015/03/ruby-on-rails.jpg">
          <div class="content">
            <a class="header" href="http://rubyonrails.org/">Ruby On Rails</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="http://www.transaxgateway.com/imgs/logos/php.png">
          <div class="content">
            <a class="header" href="https://www.php.net/">PHP</a>
            <div class="description">
              2 years
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://davidwalsh.name/demo/nodejs.png?preview">
          <div class="content">
            <a class="header" href="https://nodejs.org/">NodeJS</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui basic segment">
      <div class="ui segment">
        <div class="ui header">
          Other
        </div>
      </div>
      <div class="ui list">
        <div class="item">
          <img class="ui avatar image" src="https://pbs.twimg.com/profile_images/426420605945004032/K85ZWV2F_400x400.png">
          <div class="content">
            <a class="header" href="https://www.java.com/">Java</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://camo.githubusercontent.com/662e6f5a782e90a0d6a4ba682c4d13de54385c72/687474703a2f2f6a736f6e6170692e6f72672f696d616765732f6a736f6e6170692e706e67">
          <div class="content">
            <a class="header" href="http://jsonapi.org/">JsonAPI</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://pbs.twimg.com/profile_images/2323205264/h5g3etjnacmazg8oq17z_400x400.jpeg">
          <div class="content">
            <a class="header" href="http://www.mathworks.com/products/matlab/">Matlab</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://opcfoundation.org/wp-content/themes/opc/images/logo.jpg">
          <div class="content">
            <a class="header" href="https://opcfoundation.org/about/what-is-opc/">OPC</a>
            <div class="description">
              3 years
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://www.dmcinfo.com/DesktopModules/DnnForge%20-%20NewsArticles/ImageHandler.ashx?Width=500&Height=250&HomeDirectory=%2FPortals%2F0%2F&FileName=Blog+Pictures%2Fstudio-5000.jpg&PortalID=0&q=1">
          <div class="content">
            <a class="header" href="https://en.wikipedia.org/wiki/Programmable_logic_controller">PLC (RS Logix 5000)</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui basic segment">
      <div class="ui segment">
        <div class="ui header">
          Client-Side
        </div>
      </div>
      <div class="ui list">
        <div class="item">
          <img class="ui avatar image" src="http://rigor.com/wp-content/uploads/2015/02/javascript_logo.png">
          <div class="content">
            <a class="header" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript (+ jQuery)</a>
            <div class="description">
              8 years
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=200">
          <div class="content">
            <a class="header" href="http://emberjs.com/">EmberJS</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>

        <div class="item">
          <img class="ui avatar image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LESS_Logo.svg/200px-LESS_Logo.svg.png">
          <div class="content">
            <a class="header" href="http://lesscss.org/">LESS</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="http://www.codingdojo.com/blog/wp-content/uploads/css.jpg">
          <div class="content">
            <a class="header" href="https://www.w3.org/Style/CSS/">CSS</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui basic segment">
      <div class="ui segment">
        <div class="ui header">
          Databases
        </div>
      </div>
      <div class="ui list">
        <div class="item">
          <img class="ui avatar image" src="http://c179631.r31.cf0.rackcdn.com/sql-server-2012-logo.png">
          <div class="content">
            <a class="header" href="https://www.microsoft.com/en-us/server-cloud/products/sql-server/">MS SQL</a>
            <div class="description">
              8 years
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="http://binarywasteland.com/wp-content/uploads/2011/10/mysql.png">
          <div class="content">
            <a class="header" href="https://www.mysql.com/">MySQL</a>
            <div class="description">
              5 years
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="http://www.tivix.com/uploads/blog_pics/postgresql_1.png">
          <div class="content">
            <a class="header" href="www.postgresql.org/">PostgreSQL</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui basic segment">
      <div class="ui segment">
        <div class="ui header">
          Source Control
        </div>
      </div>
      <div class="ui list">
        <div class="item">
          <img class="ui avatar image" src="https://git-for-windows.github.io/img/git_logo.png">
          <div class="content">
            <a class="header" href="https://git-scm.com/">Git</a>
            <div class="description">
              2 years
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="http://hammerjs.github.io/assets/img/github-icon.png">
          <div class="content">
            <a class="header" href="http://www.github.com/jaredcnance">Github</a>
            <div class="description">
              2 years
            </div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://cdn.evbuc.com/eventlogos/87995911/tfs.png">
          <div class="content">
            <a class="header" href="https://www.visualstudio.com/en-us/products/tfs-overview-vs.aspx">TFS</a>
            <div class="description">
              1 year
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui grey header">
  <h1>WHAT LIES AHEAD?</h1>
  <div class="sub header">
    I have recently started a new career with Children's Mercy Hospital in Kansas City.
    I am very excited to be a part of a team that will have a direct impact on the quality of life of
    other individuals. However, I am always interested in new opportunities which may further my development
    skillset.
  </div>
</div>
